<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="login_style.css">
    <title>Google Login</title>
    <script src="login.js" defer></script>
  </head>
  <body>
    <div class="logo">
      <img src="https://ssl.gstatic.com/images/branding/googlelogo/1x/googlelogo_color_112x36dp.png">
    </div>
    <p>Sign in</p>
    <p>Use your Google Account</p>
    <div class="login">
      <br><br>
      <div>
        <img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
      </div>
      <br>
      <input placeholder="Email or phone">
      <br><br>
      <a href="#">
        <div id="loginButton" class="button">
          <p>Next</p>
        </div>
      </a>
      <a href="#">
        <p>Forgot email?</p>
      </a>
    </div>
    <p><a href="#">Create an account</a></p>
    <p>Use your Google Account for many services</p>
    <div class="logo-strip">
      <img src="https://ssl.gstatic.com/accounts/ui/wlogostrip_230x17_1x.png">
    </div>
    <div class="bottom">
      <br>
      <a href="#">About Google</a>
      <a href="#">Privacy</a>
      <a href="#">Conditions</a>
      <a href="#">Help</a>
    </div>
  </body>
</html>
